.container {
  width: auto;
}

body {
  background: black;
}

#header {
 background: #E56717; 
 padding-top: 0px;
 padding-bottom: 108px;
 
}

#header img {
  
  background: #fff;
  float: right;
  width: 20em; /* replaces 468px width */
  height: 9em; /* replaces 60px height */
  border-left: 4px solid black; 

}

#menu
{
  padding-top: 20px;
  margin-left:2.4em;
}


#content {

  margin-top: -6.3em;
  margin-left:2em;
  margin-right:17em;
  font-size: 120%;
  padding: 29px;
  background: #fff;
  text-align:right;
  width:70%;
  float:right;
}

#welcome {
  background-color: #E56717;
  margin-top: 7.3em;
  padding: 0 1.2em;
  white-space: nowrap;
  text-align:right;
  float:right;
  
}



/* Links */

a {
  color: orange;
  text-decoration: none;
  
}

a:hover {
  color: #E56717;

}

a:visited {
  color: #E56717;
}

/* Navigation */

.navigation {
  float: right;

}

.navigation {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
  
}

ul.navigation {
  margin-right: 0.7em;
  margin-top: 2em;
}

.navigation li {
  list-style-type: none;
  display: inline-block;
  padding: 0.1em 0.7em;
  font-size: 200%;
  font-family: times, times new roman, serif;

}

.navigation li a {
  padding: 0 5px;
  font-weight: bold;

  color: #E56717;
}

.navigation li a:visited {
  color: #E56717;
}

.navigation li a:hover {

  color: black;
}

/* new sms */

.new_sms {
  float: right;


}

.new_sms {
  background-color: #E56717;
  padding: 0 0.7em;
  white-space: nowrap;
  
}

ul.new_sms {
  margin: 1;
  margin-top:2em;
  margin-right: 0.5em;


}

.new_sms li {
  list-style-type: none;
  display: inline-block;
  padding: 0.1em 0.2em;
  font-size: 200%;
  font-family: times, times new roman, serif;
}

.new_sms li a {
  padding: 0 5px;
  font-weight: bold;
  color: white;

}

.new_sms li a:visited {
  color: white;
}

.new_sms li a:hover {
  
  color: black;

}
/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
}


/*footer*/

#footer {

  text-align: auto;
  margin-top: 30px;
  width: 210px;
  font-size: 7px;

  
}

#footer .navigation {
  float: left;
  background-color: #4A4344;
  margin-left: 50em;


  
}

