<div id="footer" class="round">

     <ul class="navigation round">
          <li><%= link_to "עזרה", 'help_path' %></li>
          <li><%= link_to "צור קשר", 'contact_path' %></li>
          <li><%= link_to "About Us", 'about_path' %></li>
     </ul>
</div>

