<div id="menu" class="round">
     <ul class="new_sms round">
         <li><%= link_to "צור חדש", '#' %></li>
           </ul>
     <ul class="navigation round">
          <li><%= link_to "הגרועים", worst_path %></li>
          <li><%= link_to "הטובים",  best_path %></li>
          <li><%= link_to "החדשים",  newest_path %></li>
     </ul>
           
</div>
